.DS_Store
**/.factorypath
/core/core.iml
/agent/agent.iml
/target
**/.settings
**/.classpath
**/.project
/.idea
**/*.iml
/nb-configuration.xml
**/target
core/src/main/resources/com/taobao/arthas/core/res/version
**/*.orig

site/src/site/sphinx/_build
site/src/site/sphinx/en/_build

**/__pycache__

dependency-reduced-pom.xml
pom.xml.versionsBackup
.pmd
**/.flattened-pom.xml
**/.idea/**
**/cmake-build-debug/**
