Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: jdk (>= 1.5)
Maintainer: Sahil <sjha200000@gmail.com>
Description: arthas
Distribution: development
Depends: telnet
