Package: arthas
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: jdk (>= 1.5)
Maintainer: Sahil <sjha200000@gmail.com>
Description: Arthas is a Java Diagnostic tool open sourced by Alibaba.
Distribution: development
Depends: telnet, curl, unzip
