<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE"
		class="com.alibaba.arthas.deps.ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<root level="WARN">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>